<script type="text/javascript">
function googleTranslateElementInit() {
  // Desktop: Navigation
  if (document.getElementById('google_translate_element')) {
    new google.translate.TranslateElement({
      pageLanguage: 'de',
      includedLanguages: '',
      layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
      autoDisplay: false
    }, 'google_translate_element');
  }

  // Mobile: Above content (prominent)
  if (document.getElementById('google_translate_content_top')) {
    new google.translate.TranslateElement({
      pageLanguage: 'de',
      includedLanguages: '',
      layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
      autoDisplay: false
    }, 'google_translate_content_top');
  }
}
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
