<div class='header'>
  <div class="container">
    <div class="logo">
      <a href="{{ '/' | relative_url }}"><span class="logo-text">Helm Immobilien</span></a>
    </div>
    <div class="logo-mobile">
      <a href="{{ '/' | relative_url }}"><span class="logo-text">Helm Immobilien</span></a>
    </div>
    {% include main-menu.html %}
    {% include hamburger.html %}
  </div>
  <div id="google_translate_mobile_wrapper" class="translate-mobile-wrapper">
    <div id="google_translate_element"></div>
  </div>
</div>
