.header {
  color: $primary;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // box-shadow: 0 1px 15px rgba(50, 50, 93, 0.2);
  border-bottom: 1px solid $white-offset;
  padding: 10px 0px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
  .translate-mobile-header {
    display: block;
    margin-left: auto;
    margin-right: 15px;
    @include media-breakpoint-up(md) {
      display: none;
    }
    .goog-te-gadget {
      font-size: 0;
      line-height: 0;
    }
    .goog-te-gadget-simple {
      border: 2px solid $primary;
      background-color: $primary;
      color: white;
      padding: 8px 12px;
      font-size: 0.9rem;
      font-weight: 600;
      border-radius: 4px;
    }
  }
}
.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}
