.intro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  @include media-breakpoint-up(md) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  h1 {
    color: $black;
    @include media-breakpoint-up(md) {
      width: 80%;
    }
  }
  h2 {
    width: 80%;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: $black;
    font-family: $font-family-base;
  }
  p {
    font-size: 20px;
    font-weight: light;
    line-height: 1.5;
    color: $black;
    @include media-breakpoint-up(md) {
      width: 80%;
    }
  }
  strong {
    font-size: 20px;
  }
}

.intro-small {
  padding-top: 100px;
  padding-bottom: 30px;
}

.intro-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
  @include media-breakpoint-up(md) {
    flex-direction: row;
    gap: 15px;
  }
  .button {
    flex: 1;
    text-align: center;
    padding: 20px;
    height: auto;
    line-height: 1.4;
    white-space: normal;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
