.main-menu {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > li {
      list-style: none;
      font-size: 1.25rem;
      > a {
        padding: 12px 20px;
        display: inline-block;
        font-weight: 600;
        text-decoration: none;
        color: $primary;
        &:hover {
          text-decoration: underline;
          color: $primary-dark;
        }
      }
      &.active {
        > a {
          font-weight: 600;
          text-decoration: none;
          &:hover {
            text-decoration: none;
            transition: all 225ms ease-in 0s;
          }
        }
      }
      &#google_translate_element {
        padding: 0;
        margin-left: 10px;
        .goog-te-gadget {
          font-size: 0;
          line-height: 0;
        }
        .goog-te-gadget-simple {
          border: none;
          background-color: transparent;
          padding: 5px 10px;
          font-size: 0.9rem;
        }
      }
    }
  }
}
