.social {
  display: block;
  img {
    width: 20px;
    height: 20px;
  }
  a {
    padding: 10px;
    display: inline-block;
    color: $white;
    text-decoration: none;
    &:hover {
      opacity: 0.8;
      text-decoration: underline;
    }
  }
}