.translate-mobile-wrapper {
  display: block;
  text-align: center;
  padding: 12px;
  background-color: $primary;
  // Desktop: Position in header, no background
  @include media-breakpoint-up(md) {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 0;
    background-color: transparent;
  }
}
