// Apply serif font to all headings
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
}

p {
  font-size: 1rem; // 16px
  line-height: 1.56;
  color: $black;
  font-family: $font-family-base;
  margin-bottom: 20px;
}

h1 {
  font-size: 1.875rem; // 30px
  line-height: 1.2;
  margin-bottom: 20px;
  @include media-breakpoint-up(md) {
    font-size: 2rem; // 32px
    line-height: 1.2;
  }
}

h2 {
  font-size: 1.375rem; // 22px
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 15px;
  @include media-breakpoint-up(md) {
    font-size: 1.5rem; // 24px
    line-height: 1.4;
  }
}

h3 {
  font-size: 1.125rem; // 18px
  line-height: 1.4;
  margin-bottom: 10px;
  @include media-breakpoint-up(md) {
    font-size: 1.25rem; // 20px
    line-height: 1.4;
  }
}
ul,
ol {
  margin: 0;
  padding: 0;
  li {
    padding: 0;
    margin: 0;
  }
}
