// Apply serif font to all headings
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
}

p {
  font-size: 18px;
  line-height: 1.56;
  color: $black;
  font-family: $font-family-base;
  margin-bottom: 20px;
}

h1 {
  font-size: 34px;
  line-height: 1.2;
  margin-bottom: 20px;
  @include media-breakpoint-up(md) {
    font-size: 36px;
    line-height: 1.2;
  }
}

h2 {
  font-size: 26px;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 15px;
  @include media-breakpoint-up(md) {
    font-size: 28px;
    line-height: 1.4;
  }
}

h3 {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 10px;
  @include media-breakpoint-up(md) {
    font-size: 22px;
    line-height: 1.4;
  }
}
ul,
ol {
  margin: 0;
  padding: 0;
  li {
    padding: 0;
    margin: 0;
  }
}
